extends common
block vars
  - var moreClasses = ""
block body
  div(ng-switch on="flow.isIdle")
    div(ng-switch-when="true")
      button(ng-click="solverStart()") {{t.buttons.go}}
    div(ng-switch-when="false")
      button(ng-click="solverStop()") {{t.buttons.stop}}
