extends common
block vars
  - var moreClasses = ""
block body
  .iml-input-group
    .grid-label.x4
      span {{t.labels.materialName}}
    .grid-input.x8
      select(iml-select2, ng-disabled="!flow.isIdle", items="opt.materials", active-item="opt.material", update="setAppData")
  .iml-material-label.after4.x8(ng-bind="opt.material.label")
